/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

.headerbar {
  background-color:#404040;
  color:#c0c0c0;
}

.headerbar > .title {
  font-size:30px;
  font-weight:bold;
  font-family:sans-serif;
}

.headerbar > .login {
}

.headerbar > .articles {
}

.headerbar > .search {
}

.headerbar a {
  color:#c0c0c0;
  text-decoration:underline;
}

.footer {
  background-color:#404040;
  color:#a0a0a0;
}

textarea {
  width:100%;
}

input.title-entry {
  width:80%;
}

ul.bare {
  list-style-type:none;
}

.topbutton {
  margin-top:20px;
  margin-bottom:20px;
}
